@import '../../../utils/index.scss';
.goods_class {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  padding: 40px 0 50px 0;
  .swipe_class {
    img {
      @include wh(100%, 100%);
    }
  }
}

/*商品内容*/

.buy_control {
  .details_goods_info {
    background: #fff;
    margin-bottom: 20px;
    .details_pricebar {
      position: relative;
      overflow: hidden;
      border-bottom: 1px solid #eeeded;
      .subleft {
        position: relative;
        width: 68%;
        height: 54px;
        float: left;
        &.avil {
          background: #f85;
        }
        .price {
          padding: 0 5px;
          float: left;
          @include text--middle(54px);
          vertical-align: text-bottom;
          @include sc(16px, #ddd);
          strong {
            font-weight: 400;
            @include sc(30px, #fff);
          }
        }
        .information {
          color: #fff;
          float: right;
          margin-right: 2%;
          .soldcount {
            display: inline-block;
            padding: 0 6px;
            @include text--middle(18px);
            font-size: 11px;
            margin-top: 11px;
            span {
              font-size: 13px;
              padding-right: 3px
            }
          }
          .oprice {
            padding: 0 4px;
            @include text--middle(16px);
            @include sc(14px, #383737);
          }
        }
      }
      .details_countdown {
        float: left;
        width: 32%;
        margin-top: 9px;
        text-align: center;
        .txt {
          height: 20px;
          text-align: center;
          @include sc(12px, #6a6a6a);
        }
        .clockrun {
          @include text--middle(20px);
          text-align: center;
          @include sc(12px, #fff);
          display: inline-block;
          .num {
            float: left;
            min-width: 16px;
            text-align: center;
            @include text--middle(16px);
            background: #8666b8;
            border-radius: 3px
          }
          .dot {
            float: left;
            @include wh(14px, 16px);
            line-height: 18px;
            text-align: center;
            color: #555
          }
        }
      }
    }
    .details_goods_name {
      font-size: 16px;
      padding: 5px;
      font-weight: 700
    }
    .details_goods_desc {
      padding: 8px;
      @include sc(14px, #333);
    }
    .item_info {
      padding: 3px 10px;
      background: #fff;
      position: relative;
      &:before {
        content: "";
        @include position--absolute(0, null, null, 0);
        @include wh(200%, 1px);
        background-color: #dcdada;
        transform: scale(.5);
        transform-origin: left top;
      }
      .showtagnames {
        clear: both;
        position: relative;
        margin: -3px 0 -4px 0;
        padding-top: 10px;
        overflow: hidden;
        li {
          float: left;
          padding-left: 15px;
          margin: 0 10px 10px 0;
          @include sc(12px, #aaa);
          background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAYCAMAAADTXB33AAAAaVBMVEUAAAD6IV76IV74Hl35HV3yG1f6IF/5IF71HVv6IF75H135IF75IF75IF76IF74H174H133HFv2HFz6IF76IF36H175IF76IV75IF34Hlz4Hl72IFv2IF36H1zMADO/AED5IF75IV/6IF8yblojAAAAInRSTlMA+upLKxLxzxiZe+bZtJRyaR4bxo9irY12RUQ4NzIFBKlWRq3aTAAAAN5JREFUKM9t0NuWgyAMBdDEGUHkpqi9dzo9//+RbQWK1ubBhW4M4VCu0FkjhLG+p3U1ihFL1mv5EQCGvT+o/w/pAHbNcmubF4C+rpowDvEcAR0+pPqdVwp8/S6B4baSZ2i+C1kMz+dfvRUy2D/FynojJOCJ7jGGIrdbJmpfVsRDzA1HimZKtxEmjZGsnDPAxuFDtCIB6F45MVT84KPEgOa7OvCFVnVhuHe8/VJ6DZECOjL0uchZg4/5ZWKw6tMvisFT2XiqAEjXtk4CqE7L9vXISMVjSrrgtJNVJXfTGx5lKhHS+63qqQAAAABJRU5ErkJggg==) left center no-repeat;
          background-size: auto 64%;
        }
      }
    }
  }
}
/*评论*/
.card_class {
  .remark_cell {
    padding: 5px;

    .right_top {
      display: flex;
      align-items: center;
      & span:first-child {
        margin-right: 5px;
      }
      /deep/ .el-rate{
        margin-left: 5px;
      }
    }
  }
}
.bottom_fixed {
  max-width: 750px;
  min-width: 320px;
  width: 100%;
  height: 50px;
  background: #fff;
  position: fixed;
  bottom: 0;
  border-top: 1px solid #efefef;
  z-index: 1;
  display: flex;
  div {
    text-align: center;
    line-height: 50px;
    display: inline-block;
    overflow: hidden;
    height: 50px;
    cursor: pointer;
    &.home {
      width: 50px;
      line-height: 60px;
      @include sc(22px, #333);
    }
    &.add {
      flex:5;
      color: #fff;
    }
    &.cart {
      flex:1;
      color: #333;
      font-size: 22px;
      .van-icon {
        position: relative;
      }
      .cart_number {
        display: inline-block;
        position: absolute;
        background-color: #f23030;
        line-height: 16px;
        font-style: normal;
        border-radius: 8px;
        padding: 0 4px;
        @include sc(8px, #fff);
        top: 0;
        right: 10px;
        border: 1px solid #fff;
      }
    }
    &.add_template{
      flex:1;
      color: #fff;
      /deep/ .van-button--bottom-action {
        text-align: center;
        line-height: 40px;
        background: #ff5722;
        display: block;
        font-size: 16px;
      }
    }
  }
}

.popup_div {
  .closeBtn {
    @include position--absolute(7px, 15px, null, null);
    @include wh(22px, 22px);
    z-index: 1;
    .van-icon {
      font-size: 22px;
    }
  }
  .prod_info {
    position: relative;
    max-height: 6rem;
    margin-top: 30px;
    padding: 10px;
    background: #fff;
    .prod_img {
      position: absolute;
      float: left;
      bottom: 3%;
      border-radius: 3px;
      border: 1px solid #e6e6e6;
      padding: 3px;
      background: #fff;
      img {
        @include wh(150px, 150px);
      }
    }
    .prod_desc {
      margin-left: 165px;
      & .spec_price {
        color: #714775;
        & .unit {
          font-size: 20px;
        }
        & .price {
          position: relative;
          line-height: 30px;
          @include sc(30px, #8666b8);
        }
      }
      & .spec_desc {
        @include text--overflow(3);
        @include sc(12px, #222);
      }
    }
  }
  .saleoff_info {
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    padding: 5px;
    background: #fff;
    color: #f23030;
    font-weight: 500;
  }
  .spec_info {
    background: #fff;
    clear: both;
    max-height: 23rem;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 10px;
    margin-top: 5px;
    .spec_groups {
      position: relative;
      & .spec_title {
        padding: 5px 0 12px 0;
        @include sc(12px, #222);
      }
      & .spec_list {
        display: inline-block;
        padding-bottom: 5px;
        span {
          @include sc(12px, #222);
          display: table-cell;
          vertical-align: middle;
        }
        & .option_item,
        & .spec_item {
          float: left;
          padding: 8px 10px;
          border: 1px solid #d9d9d9;
          margin: 0 8px 8px 0;
          display: table;
          background: #fff;
          border-radius: 3px;
          min-height: 22px;
          position: relative;
          &.on {
            border: 1px solid #f23030;
            box-shadow: 0 0 8px #f23030;
            .sticky {
              @include position--absolute(0, 0, null, null);
              border-left: 10px solid #fff;
              border-top: 10px solid #f23030;
            }
            span {
              color: #f23030;
            }
          }
          img {
            @include wh(1.6em, auto);
            padding-right: 3px;
          }
        }
      }
      .addNum {
        display: table;
        @include position--absolute(null, 1vw, 5px, null);
      }
    }
  }
  .add_btns {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
